/*Variables*/

:root {
   /*I tried to find good variables for the code elements I used, 
   for example padding, but I had so many different padding styles 
   that did not apply*/


}

/*I did not set a font family because I like the defaut font a lot,
otherwise I could have added a variable for the font-family and added it, 
but I am really happy with the defaut font, css I didn't add but know about:
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,
:root {
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    Example: h2 {
        font-family: var(--font-family);*/


/*General Styles*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d3dae4;
}

/*HEADER STYLES*/

#primary-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #737a7c;
}

#primary-header h1 {
    display: inline-block;
    background-color:#d3dae4;
    margin-left: -50px;
    padding: 5px 20px 5px 50px;
    font-size: 50px;
}

/*Header Navigation Styles*/

nav ul {
    display: flex;
    flex-wrap: wrap;
    text-decoration: underline;
    text-underline-offset: 5px;
    list-style-type: none;
}

nav ul a {
    padding: 25px;
    display: flex;
    font-size: 30px;
    color: white;
}

/*HERO IMAGE STYLES*/

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items:flex-end;
    flex: 1 1 100%;
    height: 400px;
    background-image: url("../images/pexels-kaboompics-com-6337.jpg");
    background-size: cover;
    background-position: center;

}

.hero h2 {
    padding: 20px;
    margin-right: 100px;
    margin-bottom: 20px;
    background-color: aliceblue;
    font-size: 30px;
}


/*Main Section Styles*/

main section {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

main section header {
    flex-basis: 25%;
    border-right: solid aliceblue 5px; 
    color: black;
    text-align: right;
    padding: 30px;
    margin: 30px 0px;
    font-size: 30px;
}

main section p {
    padding: 20px 20px;
}

main section div {
    flex-basis: 75%;
    padding: 30px;
    font-size: 25px;
    line-height: 40px;  
}

/*Flexbox Project Styling*/

/* CREDITS: SlackBot AskBCS Javier @japb1998 helped me with alignment of flexbox, <br>
I was missing width element 100% in order to make align items and jusitfy content visible, <br>
He also helped me figure out margin bottom*/

#work-projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#work-projects a {
    flex-basis: 48%;
    height: 250px;
    margin: 10px;
    text-decoration: none;
    margin-bottom: 2%;
    opacity: 70%;
}


#work-projects a:first-child {
    flex-basis: 100%;
    height: 400px;
}

#work-projects a:hover {
    opacity: 100%;
}

/*Project Images*/

/* I wasn't sure how to add the code together, when I tried, 
the images changed in all containers to only one image, so I 
kept the code seperate*/

#github {
    background-image: url("../images/pexels-evie-shaffer-2748756.jpg");
    background-size: cover;
    background-position: top;
    border: solid aliceblue 3px;
}

#hori {
    background-image: url("../images/pexels-evie-shaffer-2395244.jpg");
    background-size: cover;
    background-position: center;
    border: solid aliceblue 3px;
}

#mini {
    background-image: url("../images/pexels-evie-shaffer-3772004.jpg");
    background-size: cover;
    background-position: center;
    border: solid aliceblue 3px;
}

#cheat {
    background-image: url("../images/pexels-ylanite-koppens-796602.jpg");
    background-size: cover;
    background-position: center;
    border: solid aliceblue 3px;
}

#port {
    background-image: url("../images/pexels-ylanite-koppens-796620.jpg");
    background-size: cover;
    background-position: center;
    border: solid aliceblue 3px;
}

/*Header Styles*/

div a h3 {
        background-color: aliceblue;
        color: black;
        font-size: 30px;
        margin: 10px 10px;
        padding: 16px 32px;
        display:inline-block;
        position: relative;
        left: -40px;
}

h3 {
    text-decoration: none;
}

/*Contact Me Styles*/

.contact-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

 #info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    
}

#info a {
    flex-basis: 15%;
}

.contact-content #info a {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    text-align: center;

}

#info h3 {
    background-color: aliceblue;
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 10px 10px;
}

img {
    max-width: 100%;
    display: inline-block;
}


/*Footer Section Styles*/

.footer {
    background-color: #737a7c;
    padding: 20px 10px;
    color: white;
    text-align: center;
}

/*Media Screen Styles*/
/*
@media screen and (max-width: 1000px) {
    #about-me div p {
    flex: 0 0 100%;
    display: block;
    }
}*/
/*
@media screen and (max-width: 750px) {
    .section-content {
        display: block;
    }
}
*/

@media screen and (max-width: 978px) {
    .section-content p {
        font-size: 20px;
        justify-content: center;

    }   
}

@media screen and (max-width: 1425px) {
    #work-projects a {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 1710px) {
    #info a {
       flex-wrap: wrap;
    }
}